<div class="item-builder">
  <div class="item-builder__controls">
    <div class="item-builder__controls__control">
      <label for="item-name">Name</label>
      <input #itemName type="text" name="item-name" placeholder="Basketball">
    </div>
    <div class="item-builder__controls__control">
      <label for="item-price">Price</label>
      <input #itemPrice type="text" name="item-price" placeholder="11.99">
    </div>
    <div class="item-builder__controls__control">
      <button
        type="button"
        class="addItem"
        [class.isInProgress]="isInProgress"
        (click)="addNewItem(itemName.value, itemPrice.value); itemName.value = ''; itemPrice.value = '';">
        <span>Add</span>
      </button>
    </div>
  </div>
</div>
