.toasts {
  position: absolute;
  right: 10px;
  bottom: 10px;

  & .toast {
    background: white;
    border: 1px solid gray;
    border-radius: 2px;
    width: 250px;
    padding: 10px;
    position: relative;
    margin-top: 5px;

    &--message {
      &--error {
        &::before {
          content: '';
          position: absolute;
          width: 3px;
          height: 100%;
          background-color: #da4949;
          top: 0;
          left: 0;
        }
      }
    }

    &--close {
      position: absolute;
      right: 5px;
      top: 5px;
      background: transparent;
      border: none;
    }
  }
}