/* You can add global styles to this file, and also import other style files */

* {
	box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html {
  height: 100%;
  font: normal 400 1rem/1.5rem "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: auto;
  color: #242424;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

@keyframes rotate {
  0%    { 
      transform: rotate(0deg); 
  }
  100%  { 
      transform: rotate(360deg); 
  }
}

.dark-mode {
  filter: invert(100%);
}